[Unit]
Description=A simple battery notification daemon

[Service]
WorkingDirectory=/usr/bin
ExecStart=/bin/bash /usr/bin/battery_notifier PERCENTAGE
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
